html,
body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-auth {
  min-height: 100vh;
  height: auto;
}

.page-intern {
  min-height: 94.3vh;
  height: auto;
}

.bg-gray {
  background-color: #E9E9E9;
}

.button {
  min-width: 100px !important;
}

.link {
  cursor: pointer;
}

.dropdown-item:active {
  background-color: #dddcdc !important;
}